[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-ckeditor = "*"
flask-mail = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
flask-moment = "*"
python-dotenv = "*"
bootstrap-flask = "*"
flask-login = "*"
flask-debugtoolbar = "*"
gunicorn = "*"
flask-migrate = "*"

#[requires]
#python_version = "3.7"
